<div id="wrapper">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 mt-4">
                <div class="card">
                    <%= image_tag avatar_url(@user), class: "avatar-full"%>
                    <div class="card-header text-center">
                        <h5>Verification</h5>
                    </div>
                    <div class="card-body">
                        <h5>Name:</h5><p><%= @user.fullname %></p><br>
                        <h5>Email:</h5><p><%= @user.email %></p><br>
                        <h5>Phone Number: </h5><p><%= @user.phone_number %></p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-4">

                <h4>Listings (<%= @rooms.length %>)<h4><br>
                <div class="row">
                    <%= render 'rooms/room_list' %>
                </div><br><br>

                <h4>Reviews From Guests (<%= @guest_reviews.count %>)</h4>
                <div>
                    <%= render "reviews/guest_list" %>
                </div><br><br>

                <h4>Reviews From Hosts (<%= @host_reviews.count %>)</h4>
                <div>
                    <%= render "reviews/host_list" %>
                </div>

            </div>
        </div>
    </div>
</div>
