<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body pb-1">
                <%= render "room_listing_menu" %>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-header text-white bg-success">
                Your Listings
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <% @rooms.each do |room| %>
                            <div class="col-md-2">
                                <div class="media mb-4 media-container">
                                    <% if room.photos.blank? %>
                                        <%= image_tag 'no-image-icon.png', class: "img-size" %>
                                    <% else %>
                                        <%= image_tag room.photos.first.image.url(:thumb) %>
                                    <% end %>
                                </div>
                            </div>
                            <div class="col-md-7 mt-4 pl-5">
                                <%= room.listing_name %>
                            </div>
                            <div class="col-md-3">
                                <%= link_to 'Update', listing_room_path(room), class:"btn btn-info mt-2" %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
