<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <%= render "room_menu" %>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="card">
            <div class="card-header text-white bg-success">
                Listing
            </div>
            <div class="card-body">
                <div class="container">
                    <%= form_for @room do |f| %>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mt-2">
                                    <label>Home Type</label><br>
                                    <div class="list-form-control">
                                        <%# 2回Apartmentとかを繰り返すのはdbに保存と画面上に出すため %>
                                        <%= f.select :home_type, [["Apartment", "Apartment",], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]], id:"home_type", prompt:"Select...", class: "form-control" %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group mt-2">
                                    <label>Room Type</label><br>
                                    <div class="list-form-control">
                                        <%= f.select :room_type, [["Entire", "Entire"], ["Private", "Praivate"], ["Shared", "Shared"]], id:"room_type", prompt:"Select...", class: "form-control" %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group mt-2">
                                    <label>Accommodate</label><br>
                                    <div class="list-form-control">
                                        <%= f.select :accommodate, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]],id:"accommodate", prompt:"Select...", class: "form-control" %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group mt-2">
                                    <label>Bedrooms</label><br>
                                    <div class="list-form-control">
                                        <%= f.select :bedroom, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id:"bedroom", prompt:"Select...", class: "form-control" %>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group mt-2">
                                    <label>Bathrooms</label><br>
                                    <div class="list-form-control">
                                        <%= f.select :bathroom, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], id:"bathroom", prompt:"Select...", class: "form-control" %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <%= f.submit "Create My Room", class: "btn btn-danger" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

